# Зависимости
node_modules/
dist/

# Локальные файлы
.env
.env.local
.env.*.local

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Редакторы
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
